#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links li {
  margin: 1em;
}

#experience {
  margin-top: 100px;
}

#experience > h1 {
  text-align: left;
  margin-left: 2rem;
}

.experience-table tbody td {
  padding: 0.6rem;
  /* margin: 0 1em; */
  text-align: left;
}

.experience-table tbody tr td:first-child {
  white-space: nowrap;
}

.experience-table tbody tr td {
  white-space: wrap;
}

.experience-table {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 2px solid white;
}

@media screen and (max-width: 768px) {
  .experience-table {
    border-left: none;
    margin: auto;
  }
}
