@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #121212;

  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ebecee;
    --foreground-rgb: 255, 255, 255;
    --background-col: 38, 38, 38;
  }
}

body {
  color: var(--foreground);
  font-size: 14px;
  background: rgb(var(--background-col));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}
