@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 110%; /* relative to user's preference */
  --background: #141414;
  --foreground: #ededed;
  --light: #edededcc;
  --primary: #a53893;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #eae8e8;
    --foreground: #171717;
    --light: #171717cc;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 120%;
  }  
}
@media screen and (max-width: 768px) {
  .header, .sec {
    display: block;
  }
}
header {
  background-color: var(--background);
  width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  display: inline-block;
  box-sizing: content-box;
  text-decoration: underline;
  text-decoration-color: #a53893;
  text-decoration-thickness: 2px;
  padding: 4px;
  border: 1px solid transparent;
  border-radius: 4px;
}

a:hover {
  color: #be4fac;
  border-color: #a53893;
  transition: 0.1s ease-in-out;
}

#projects a {
  text-decoration: none;
}

.light {
  color: var(--light);
  line-height: 1.5;
}

.sec {
  margin: 3em auto 0 auto;
  /* width: 95%; */
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.header {
  top: 0;
  position: sticky;

  background: var(--background);
}


.construction {
  border: 20px solid pink;
  border-image: repeating-linear-gradient(
    -55deg,
    #000,
    #000 40px,
    #ffb101 40px,
    #ffb101 80px
  ) 20;
}
/* 
.gallery-container {
  min-height: 90dvh;
  box-sizing: border-box;
  width: 100%;
  padding: 4em;
  gap: 5px;
} */