/* import open sans */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&display=swap);

.content {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.9em;
    font-weight: 200;
    font-size: 18px;
    font-display: swap;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 1.6em;
    color: #fff;
}

.content div:first-of-type h1{
    font-size: 2.6em;
    width: 80%;
    text-align: center;
    margin: auto;
}

.content section {
    width: 70%;
    margin: auto;
    color: #fff;
}

.content a {
    color: #ff5fbc;
    text-decoration: none;
    font-weight: 400;
    padding: 0.2em;
}

.content a:hover {
    color: #cf4897;
}

.content .meta {
    width: 60%;
    color: #fffa;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1em auto;
}

@media screen and (max-width: 900px) {
    .content section {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .content section {
        width: 100%;
    }
}

.content .meta p {
    margin: 1em;
}