.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hamburger {
    display: none !important;
}

.hamburger a {
    color: white;
}

.mobileNav li {
    margin: 1.2em;
}

.mobileNav a {
    color: white;
    font-size: 1.6em;
    padding: 0.4em;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    .nav {
        display: none;
    }

    .hamburger {
        display: inline !important;
    }
}
    